APP_NAME="ONEKANA API"
APP_ENV=production
APP_DEBUG=false
APP_URL=https://api.onekana.com

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=onekana
DB_USERNAME=
DB_PASSWORD=
DB_CHARSET=utf8mb4

FRONTEND_URLS=https://onekana.com,https://admin.onekana.com
SYSTEM_API_TOKEN=

ADMIN_EMAIL=
ADMIN_NAME="Admin Onekana"
ADMIN_PASSWORD=

JWT_SECRET=
JWT_TTL=60
JWT_REFRESH_TTL=20160
