*.log
.DS_Store
.env
.env.backup
.env.production
.mariadb-data/
*.key
*.pem
*.p12
*.pfx
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.phpunit.cache
/.vscode
/public/storage/*
!/public/storage/.gitignore
/storage/*
!/storage/.gitignore
/vendor
/backups
Thumbs.db
